@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import './color';
@import './layout';

* {
  margin: 0;
  padding: 0;
  color: #2e3040;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  &:hover {
    
  }
}

html,
body {
  background: $background;
}

.wrapper {
  background-color: #ffff;
  border-radius: 30px;
  padding: 80px;
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}

.btn {
  padding: 16px 30px;
  font-size: 24px;
  cursor: pointer;
  width: fit-content;
  border: none;
  border-radius: 5px;
  transition: all 500ms;
  &:hover {
    transform: scale(1.05)
  }
}

.btn-action {
  @extend .btn;
  background-color: $primary;
  color: $white;
}
