@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import './color';
@import './layout';
@import './ui_components/tab';
@import './ui_components/form';
@import './ui_components/alert';
@import './ui_components/button';

* {
  margin: 0;
  padding: 0;
  color: $black;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html,
body {
  background: $background;
  scroll-behavior: smooth;
}

.wrapper {
  background-color: #ffff;
  border-radius: 30px;
  padding: 80px;
  margin-bottom: 40px;
  &-file-area {
    overflow: hidden;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      border: 10px dashed #3163c6;
      top: -7px;
      bottom: -7px;
      left: -7px;
      right: -7px;
      pointer-events: none;
    }
    box-sizing: border-box;
  }
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.25rem;
}

b {
  font-size: 600;
}
