$grid-breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

$colPercentage: calc(100% / 12);

@for $i from 1 through 12 {
  .col-#{$i} {
    display: flex;
    width: calc(#{$i} * #{$colPercentage});
  }
}

@each $breakpoaint, $pixel in $grid-breakpoints {
  @media (min-width: $pixel) {
    @for $i from 1 through 12 {
      .col-#{$breakpoaint}-#{$i} {
        display: flex;
        width: calc(#{$i} * #{$colPercentage});
      }
    }
  }
}
.container,
.container-fluid {
  width: 100%;
  margin: 0 auto;
}
@each $breakpoaint, $pixel in $grid-breakpoints {
  @media (min-width: $pixel) {
    .container {
      width: $pixel;
      margin: 0 auto;
    }
  }
}

$displayOpts: 'none', 'block', 'flex', 'inline-flex', 'grid';
@each $displayOpt in $displayOpts {
  .d-#{$displayOpt} {
    display: #{$displayOpt};
  }
}
.flex-col {
  flex-direction: column;
}
.row {
  display: flex;
  flex-direction: row;
}
.pointer {
  cursor: pointer;
}

$justifyOpts: 'start', 'end', 'center', 'space-between', 'space-evenly';
@each $justifyOpt in $justifyOpts {
  .justify-#{$justifyOpt} {
    justify-content: #{$justifyOpt};
  }
}

$alignOpts: 'start', 'end', 'center';
@each $alignOpt in $alignOpts {
  .align-#{$alignOpt} {
    align-items: #{$alignOpt};
  }
}

$textOpts: 'left', 'center', 'right';
@each $textOpt in $textOpts {
  .text-#{$textOpt} {
    text-align: #{$textOpt};
  }
}

$sides: (top, bottom, left, right);
$step: 5;
@for $i from 0 through 10 {
  $space: $i * $step;
  .m-#{$i} {
    margin: #{$space}px !important;
  }
  .mx-#{$i} {
    margin-left: #{$space}px !important;
    margin-right: #{$space}px !important;
  }
  .my-#{$i} {
    margin-top: #{$space}px !important;
    margin-bottom: #{$space}px !important;
  }

  .p-#{$i} {
    padding: #{$space}px !important;
  }
  .px-#{$i} {
    padding-left: #{$space}px !important;
    padding-right: #{$space}px !important;
  }
  .py-#{$i} {
    padding-top: #{$space}px !important;
    padding-bottom: #{$space}px !important;
  }

  @each $side in $sides {
    .m#{str-slice($side, 0, 1)}-#{$i} {
      margin-#{$side}: #{$space}px !important;
    }

    .p#{str-slice($side, 0, 1)}-#{$i} {
      padding-#{$side}: #{$space}px !important;
    }
  }
}
